.klinik-content{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    max-width: 1200px;
    padding: 20px;
    background-color: var(--color-bg);
    margin: auto;
}

.video-sektion h3{
    display: flex;
    justify-content: center;
    margin-block: 2rem;    
}

.video-sektion{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto 2rem auto;
}

@media (max-width: 768px) {
.section2 .left {
  display: block;
        justify-content: center;
        align-items: center;
}
}